# <center>CREDIT CARD STATUS</center>

### Modules

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Initializing the dataframe

In [41]:
df = pd.read_csv("credit_card.csv")
df.head()

,gender,age,job,marital,education,default,housing,loan,contact,CreditCard
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

In [8]:
df.isnull().sum()

gender        0
age           0
job           0
marital       0
education     0
default       0
housing       0
loan          0
contact       0
CreditCard    0
dtype: int64

In [29]:
df.describe(include='O') # categorical description

,gender,job,marital,education,default,housing,loan,contact,CreditCard
count,41188,41188,41188,41188,41188,41188,41188,41188,41188
unique,2,12,4,8,2,2,2,2,2
top,female,admin.,married,university.degree,no,yes,no,cellular,no
freq,20798,10422,24928,12168,32588,22566,33950,26144,36548

In [25]:
df.shape

(41188, 10)

In [32]:
# Total number of Customers;
S = df.shape[0]
print("Total number of customers is:", S)

Total number of customers is: 41188

#### Que #1: What is the probability that the customer has no Credit Card?

In [47]:
df['CreditCard'].value_counts()

CreditCard
no     36548
yes     4640
Name: count, dtype: int64

In [67]:
E = len(df[df['CreditCard'] == 'no'])
P = round(E/S, 3)

print("The probaility of customers not having a Credit Card is", P)

The probaility of customers not having a Credit Card is 0.887

#### Que #2: What is the probability that the customer is illiterate?

In [43]:
df['education'].value_counts()

education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64

In [68]:
E = len(df[df['education'] == 'illiterate'])
P = round(E/S, 5)

print("The probaility of customers being Illiterate is", P)

The probaility of customers being Illiterate is 0.00044

#### Que #3: What is the probability that the customer has a Telephone?

In [52]:
df['contact'].value_counts()

contact
cellular     26144
telephone    15044
Name: count, dtype: int64

In [69]:
E = len(df[df['contact'] == 'telephone'])
P = round(E/S, 3)

print("The probability of customers having a Telephone is", P)

The probability of customers having a Telephone is 0.365

#### Que #4: What is the probability that the customer is Single and has a Credit Card?

In [57]:
crosstab = pd.crosstab(index=df['marital'], columns=df['CreditCard'], margins=True)
crosstab

CreditCard     no   yes    All
marital
divorced     4136   476   4612
married     22396  2532  24928
single       9948  1620  11568
unknown        68    12     80
All         36548  4640  41188

In [71]:
E = crosstab.loc['single', 'yes']
P = round(E/S, 3)

print("The probability of customers being Single and having a Credit Card is", P)

The probability of customers being Single and having a Credit Card is 0.039

#### Que #5: What is the probability that the customer is Male and has at most 6 years of Education?

In [75]:
crosstab = pd.crosstab(df['gender'], df['education'], margins=True)
crosstab

education,basic.4y,basic.6y,basic.9y,high.school,illiterate,professional.course,university.degree,unknown,All
gender,,,,,,,,,
female,2104,1169,3092,4735,7,2647,6142,902,20798
male,2072,1123,2953,4780,11,2596,6026,829,20390
All,4176,2292,6045,9515,18,5243,12168,1731,41188

In [74]:
E = crosstab.loc['male', 'illiterate'] + crosstab.loc['male', 'basic.4y'] + crosstab.loc['male', 'basic.6y']
P = round(E/S, 3)

print("The probability of customers being Male and having at most 6 years of Education is", P)

The probability of customers being Male and having at most 6 years of Education is 0.078

#### Que #6: What is the probability that the customer is Retired and is Divorced?

In [77]:
crosstab = pd.crosstab(df['marital'], df['job'], margins=True)
crosstab

job,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown,All
marital,,,,,,,,,,,,,
divorced,1280,728,179,161,331,348,133,532,9,774,124,13,4612
married,5253,6687,1071,777,2089,1274,904,2294,41,3670,634,234,24928
single,3875,1825,203,119,501,93,379,1137,824,2287,251,74,11568
unknown,14,14,3,3,3,5,5,6,1,12,5,9,80
All,10422,9254,1456,1060,2924,1720,1421,3969,875,6743,1014,330,41188

In [80]:
E = crosstab.loc['divorced', 'retired']
P = round(E/S, 3)

print("The probability of customers being Retired and Divorced is", P)

The probability of customers being Retired and Divorced is 0.008

#### Que #7: Given the customer has a Credit Card, find the probability that he is Married?

In [81]:
crosstab = pd.crosstab(df['CreditCard'], df['marital'], margins=True)
crosstab

marital     divorced  married  single  unknown    All
CreditCard
no              4136    22396    9948       68  36548
yes              476     2532    1620       12   4640
All             4612    24928   11568       80  41188

In [87]:
# P(M|C) = P(C n M) / P(C) 

pCnM = crosstab.loc['yes', 'married']
pC = len(df[df['CreditCard'] == 'yes'])
pM_C = round(pCnM / pC, 3)

print("The probability that the customer is Married, given that he has a Credit Card is", pM_C)

The probability that the customer is Married, given that he has a Credit Card is 0.546

#### Que #8: If a customer has a Blue Collar Job, find the probability that he has a Housing?

In [90]:
crosstab = pd.crosstab(df['housing'], df['job'], margins=True)
crosstab

job,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown,All
housing,,,,,,,,,,,,,
no,4636,4304,641,491,1363,784,641,1818,381,2980,430,153,18622
yes,5786,4950,815,569,1561,936,780,2151,494,3763,584,177,22566
All,10422,9254,1456,1060,2924,1720,1421,3969,875,6743,1014,330,41188

In [93]:
# P(H|B) = P(H n B) / P(B)

pHnB = crosstab.loc['yes', 'blue-collar']
pB = len(df[df['job'] == 'blue-collar'])
pH_B = round(pHnB / pB, 3)

print("The probability that the customer has a Housing, given that he has a Blue Collor job is", pH_B)

The probability that the customer has a Housing, given that he has a Blue Collor job is 0.535